<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chart Info</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<!--Load the AJAX API-->
<a></a>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	// Load the Visualization API and the corechart package.
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});
	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
    // instantiates the bar chart, passes in the data and
    // draws it.
	function drawChart() {
		
		// static population to test chart's behaviour
		/*var data = google.visualization.arrayToDataTable([
				[ 'Brand', 'Accuracy' ], [ 'Breitling', 11 ], [ 'Omega', 2 ],
				[ 'Rolex', 2 ], [ 'Seiko', 9 ], [ 'Tissot', 7 ],
				[ 'Certina', 2 ], [ 'Tag Heuer', 8 ], [ 'Longines', 2 ],
				[ 'Orient', 2 ], [ 'Oris', 5 ] ]); */

		// only supported in newer version of Springboot and Thymeleaf
		//var watches = /*[[${watches}]]*/'empty';
		//console.log(watches);

		var data = new google.visualization.DataTable();
		// used when a map is passed
		//var gChart = Object.entries(popChart());
		// used when an array is passed
		var gChart = popChart();
		// defining the column names and types
		data.addColumn('string', 'Brand');
		data.addColumn('number', 'Accuracy');
		
		// chart row population
		for(var i = 0; i < gChart.length; i++){
			data.addRow(gChart[i]);
		}
		
		// 2D Array type required, invalid working with 2 parameters
		// for ( var w in watches) {
		//	data.addRow(w[0], w[2]);
		//}
		// Set chart options
		var options = {
			title : 'Accuracy Summary',
			hAxis : {
                title : 'Seconds/Day',
            },
            vAxis : {
                title : 'Watches'
            }
		};

		// Instantiate and draw our chart, passing in some options.
		// Originally intended as a PieChart but unfit for the 
		// test case represented as accuracy values can be also
		// negative (watches can gain or lose seconds per day).
		// BarChart is therefore a viable solution.
		var chart = new google.visualization.BarChart(document
				.getElementById('piechart'));

		chart.draw(data, options);

	}
	/* alternative solution - dropped
	function populateChart() {
		var table = document.getElementById("tbl");
		var cols;
		for (var i = 0, row; row = table.rows[i]; i++) {
			for (var j = 0, col; col = row.cells[j]; j++) {
				cols.push(col.innerText);
				console.log(col[0].innerText)
			}
		}
	}*/
	
	// accessing the HTML table; forming 1 Array containing everything;
	// creating 2D Array -> parsing to Integer the values column, keys column stays intact;
	// reducing the Array (eliminating duplicates);
	function popChart(){
		var t = document.getElementById('tbl');
		var tempData = [];
		var arrayData = [];
		if(t) {
		    Array.from(t.rows).forEach((tr, row_ind) => {
		        Array.from(tr.cells).forEach((cell, col_ind) => {
		           tempData.push(cell.textContent);
		        });
		    });
		}
		// Array to 2D Array
		while(tempData.length){
			arrayData.push(tempData.splice(0,2));
		}
		
		// Parsing the values column to int type
		for(var i = 0; i< arrayData.length; i++){
			arrayData[i][1] = parseInt(arrayData[i][1]);
		}
		
		// Creation of map to remove duplicates
		var mp = [];

		arrayData.forEach(entry => {
			const [key, value] = entry;
			mp[key] ??= {value: []}
			mp[key].value.push(value)
		})
		
		var returnArray = [];	
		// for each element (entry) calculating an average value
		// (parsed then to int to remove decimal part)
		Object.entries(mp).forEach(entry => {
			const [key, obj] = entry;
			const average = parseInt(obj.value.reduce((a, b) => a + b, 0) / obj.value.length);
			// printing the result per key to ensure data is correct
			//console.log(key, obj.value, "Average is:", average)
			// populating the returning array in format key : average
			returnArray.push([key, average]);
		});
		// checking contents before feeding it to the chart
		// console.log(returnArray);
		return returnArray;
		// previous implementations/ tests - dropped
			/*var mp = new Map();

			for(var i = 0; i < arrayData.length; i++){
			    if (!mp.has(arrayData[i][0])) {
			      mp.set(arrayData[i][0], [arrayData[i][1]]);
			    } else{
			        mp.get(arrayData[i][0]).push([arrayData[i][1]]);
			    }
			}
			console.log(mp);
			
		function findAvg(nums){
			// Creating variable to store the sum
		    var sum = 0;
			var i;
		    // Running the for loop
		    for (i = 0; i < nums.length; i++) {
		        sum += nums[i];
		    }
		    i+=1;
		    return sum/i;
		}*/
		
		/*
		var finalArray = [];
		
		for(var i = 0; i< mp.size; i ++){
			finalArray.push(mp[i][0], findAvg(mp[i][1]));
		}*/
		
		/* keeps the last value found per key - not sum nor avg
		const graphData = arr => {
			   return arr.reduce((acc, val) => {
			      const [key, value] = val;
			      acc[key] = value;
			      return acc;
			   }, {});
			};
			return graphData(arrayData);
			*/
	}
</script>
</head>
<body>
	<a style="display:inline;" class="btn btn-primary" th:href="@{/watchlist}">Home</a>
	<div id="piechart" style="width: 900px; height: 500px;"></div>
	<p class="text-center">>
		It is required to upgrade Thymeleaf and Spring to the newer versions
		to be able to pass data directly from backend to JavaScript.<br>
		The workaround is to populate an HTML table and then access it from
		JavaScript.<br> Data from the cells forms an Array -> converted
		to 2D Array -> parse the values to the correct type <br>-> Create
		a Map to remove duplicates -> re-convert to 2D Array which is the only
		format Google Charts accepts.<br>
		Data below can be hidden, shown for informative purposes.
	</p>
	<table id="tbl">
		<tr th:each="watch : ${watches}">
			<td th:text="${watch.brand}"></td>
			<td th:text="${watch.accuracy}"></td>
		</tr>
	</table>
</body>
</html>