<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Watch Add</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h2 style="text-align: center; background:darkcyan; color:white; padding:10px 20px;">Add a new watch to the collection:</h2>
	<form class="form-inline" style="text-align: center; background:darkcyan; color:white; padding:10px 20px;" th:object="${watch}" th:action="@{watchsave}" action="#" method="post">
		<label for="Date">Date</label>
		<input class="form-control" type="date" id="start" th:field="*{start}" />
		<label for="Brand">Brand</label>
		<input class="form-control" type="text" id="brand" th:field="*{brand}" />
		<label for="Caliber">Caliber</label>
		<input class="form-control" type="text" id="caliber" th:field="*{caliber}" />
		<label for="Accuracy">Accuracy</label>
		<input class="form-control" type="text" id="accuracy" th:field="*{accuracy}" />	
		<input type="submit" value="Save" class="btn btn-success"></input>
	</form>
</body>
</html>